::-webkit-scrollbar {
    width: 10px;
}

.Tile {
    position: relative;
    height: 130px;
    width: 270px;
    //border: 0.05rem solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
}

.Tile:hover .EditPassword {
    opacity: 1
}

.Tile:hover .DeletePassword {
    opacity: 1
}

.TileLogoContainer {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(197,30%,38%);
}

.TileViewButtonOverlay {
    position: absolute;
    height: 65%;
    width: 100%;
    opacity: 0;
    background-color: #485655;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tile:hover .TileViewButtonOverlay {
    opacity: .5;
}

.Tile:hover .TileViewButton {
    opacity: .75;
}

.TileViewButton {
    position: absolute;
    height: 35%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515C6A;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0;
}

.TileViewButton:hover {
    opacity: 1;
    cursor: pointer;
}

.TileViewButton span {
    color: white
}

.TileContentContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s linear;
    flex-grow: 1;
}

.TileContentContainerPanelLeft {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 15px
}

.TileContentContainerPanelRight {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}


.TileContentContainerHeader,
.TileContentContainerUsername,
.TileContentContainerBody {
    color: black;
    margin: 10px
}

.TileContentContainerHeader {
    font-size: 30px;
}

.TileEditDeleteItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    //width: 50%;
}

.DeletePassword {
    padding: 5px;
    height: 15px;
    width: auto;
    border: .5px solid #D3D3D3;
    border-radius: 2.5px;
    opacity: 0;
    cursor: pointer;
}

.DeletePassword:hover {
    background-color: #D3D3D3
}

.EditPassword {
    padding: 5px;
    height: 15px;
    width: auto;
    margin-left: 5px;
    border: .5px #D3D3D3;
    border-radius: 2.5px;
    opacity: 0;
    cursor: pointer;
    border: .5px solid #D3D3D3;
}

.EditPassword:hover {
    background-color: #D3D3D3;
}