.Sidebar {
    width: 100%;
    height: 100%;
    background-color: #3C4A54;
}

.SidebarLinkContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    //padding: 10px;
}

.SidebarLink {
    width: calc(100% - 25px);
    //width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    background-color: #3C4A54;
}

.SidebarLink a {
    color: #a9b9c5;
}

.SidebarLinkIcon {
    margin-right: 10px;
}