.Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    //justify-content: center;
    //align-items: center;
    z-index: -999;
    background: rgba(249,250,252,255);
}

.Overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(15, 27, 43, 0.6);
    opacity: .5;
    z-index: 1000;
    position: absolute;
}

.SidebarWrapper {
    height: 100%;
    width: 275px;
    overflow-y: hidden;
}

.GridNavbarWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    min-width: 800px;
    overflow-y: hidden;
}

.Grid {
    //flex-grow: 1;
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.CreateNewPasswordButton {
    position: absolute;
    bottom: 35px;
    right: 35px;
    z-index: 1000;
    cursor: pointer;
}