.DataModal {
    background: white;
    //border: 0.25rem solid black;
    position: absolute;
    height: max-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    margin-top: auto;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
    bottom: 0;
    margin-bottom: auto;
    z-index: 1000;
}

.DataModalHeader {
    width: 100%;
    height: 50px;
    background-color: #D12F2E;
}

.PasswordDataModalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PasswordDataModalInfo span:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}
